.scene-1 {
    background: url('../images/motel-one.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
}

.scene-2 {
    background: url('../images/motel-two.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
}

.scene-3 {
    background: url('../images/motel-three.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    vertical-align: bottom;
}

.scene-4 {
    background: url('../images/motel-four.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
}

.scene-5 {
    background: url('../images/motel-five.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
}

.scene-6 {
    background: url('../images/motel-six.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
}

.scene-7 {
    background: url('../images/motel-seven.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
}

.scene-8 {
    background: url('../images/motel-eight.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
}

.scene-9 {
    background: url('../images/motel-nine.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
}

.scene-10 {
    background: url('../images/motel-one.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
}