div.header {
    overflow: auto;
    white-space: nowrap;
    font-size: larger;
}

/* Style the navbar */
#navbar {
    background-color: #b12e00;
    padding-left: 50px;
    vertical-align: middle;

}

/* Navbar links */
#navbar a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 0.5em 1em 0.5em 1em;
    text-decoration: none;
    vertical-align: middle;
    font-size: 2vh;
    border-bottom: 3px solid transparent;
    height: 8vh;
}

#navbar a:hover {
    border-bottom: 3px solid #f2f2f2;
}

#navbar a.active {
    border-bottom: 3px solid #f2f2f2;
}


/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    transition: all 100ms ease-in-out;
    z-index: 1;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
margin-top: 16vh;
}

:target { scroll-margin-top: 16vh; }

/* Style the navbar */
#navbar2 {
    background-color: #403c35;
    padding-left: 50px;
    vertical-align: middle;
  }

/* Navbar links */
#navbar2 a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 0.5em;
    text-decoration: none;
    vertical-align: middle;
    font-size: 2vh;
    border-bottom: 3px solid transparent;
    margin: auto;
    height: 8vh;
}

#navbar2 a:hover {
    border-bottom: 3px solid #f2f2f2;
}

#navbar2 a.active {
    border-bottom: 3px solid #f2f2f2;
}

.nav-title {
    color: black;
    font-weight: 800;
    font-size: 1.5vw;
    margin: 0 1.5em 0 1.5em
}