@font-face {
    font-family: "Roboto-Regular";
    src: url(../fonts/Roboto-Regular);
}
body{
    font-family: Roboto-bold;
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
.banner{
    width: 100vw;
    height: 70vh;
    object-fit: cover;
    margin:0;
}
.navbar{
    height: 10vh;
    width: 80vw;
    margin: auto;
  
}
.sticky-top{
    position: sticky;
    bottom: 80vh;
    z-index: 1
}
.navbar-brand{
    height: 10vh;
}
.navbar-brand img{
    height:8vh;
    padding-left: 30px;
}
.nav-item{
    padding: 15px;
}
.options{
    padding-right: 60px;
}

/* title text */
@media only screen and (max-width: 768px){
    .title{
        font-size: 8vw;
        font-weight: 700;
    }
}
@media only screen and (min-width: 384px){
    .title{
        font-size: 4vw;
        font-weight: 700;
    }
}

/* title text end */

/* section heights */

.title-banner {
    position: relative;
    margin:0;

}

.about-banner {
    height: 40vh;
}

.section {
    height: 45vh;
}

.contact-section {
    height: 64vh;
    background-color: #333333;
}

/* section heights */

/* banner-text */

@media only screen and (max-width: 768px) {
    .title-banner-text {
        position: absolute;
        bottom: 20vh;
        left: 5vw;
        color: white;
    }
}

@media only screen and (min-width: 768px) {
    .title-banner-text {
        position: absolute;
        bottom: 30vh;
        left: 25vw;
        color: white;
    }
}

.subpage-banner-text {
    position: absolute;
    bottom: 65vh;
    left: 10vw;
    color: white;
}

/* banner-text end */
.homepic {
   margin:0;
}
.col-md-4 {
    margin:0;
}
.homebook{
    background-color: rgba(229, 221, 205, 0.4)
}
.contact-section {
    height: 64vh;
    background-color: rgba(229, 221, 205, 0.4);
}
.homebutton{
    text-align: center;
    margin:5vh auto 5vh auto;
}