html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Playball";
    src: url(../fonts/Playball-Regular.ttf);
}

@font-face {
    font-family: "Roboto-Regular";
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto-bold";
    src: url(../fonts/Roboto-Bold.ttf);
}

.restaurant-titles {
    font-family: Playball;
    font-size: 3.5vw;
}

body{
    font-family: Roboto-Regular;
    margin:0;
    border:0;
    outline:0;
    font-size: 120%;
    background: transparent;
}
.font-regular{
    font-family:"Roboto-Regular";
    src: url(../fonts/Roboto-Regular.ttf);
}
.font-light{
    font-family:"Roboto-Light";
    src: url(../fonts/Roboto-Light.ttf);
}
.font-italic{
    font-family:"Roboto-Italic";
    src: url(../fonts/Roboto-Italic.ttf);
    font-size: 2em;
}
.font-playball{
    font-family:"Playball-regular";
    src: url(../fonts/Playball-Regular.ttf);
}
.banner{
    width: 100vw;
    height: 70vh;
    object-fit: cover;
    margin:0;
}

.navbar{
    height: 10vh;
    width: 70vw;
    position: absolute;
    top: 5em;
    left: 15vw;
    z-index: 999;
}

.navbar-brand{
    height: 10vh;
}
.navbar-brand img{
    height:8vh;

}
.nav-item{
    padding: 15px;
}
/* navbar animation*/
.nav-link {
    text-decoration: none;
    display: inline-block;
    position: relative;
    opacity: 0.75;
  }

  .nav-link:hover {
    opacity: 1;
  }

  .nav-link::before {
    transition: 200ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: red;
  }

  .nav-link-fade-up::before {
    width: 90%;
    bottom: 5px;
    opacity: 0;
  }

  .nav-link-fade-up:hover::before {
    bottom: 8px;
    opacity: 1;
  }


/* navbar animation end */
.options{
    padding-right: 60px;
}

/* title text */
@media only screen and (max-width: 768px){
    .title{
        font-size: 8vw;
        font-weight: 700;
    }
}
@media only screen and (min-width: 384px){
    .title{
        font-size: 4vw;
        font-weight: 700;
    }
}

/* title text end */

/* section heights */


.about-banner {
    height: 40vh;
}


.section {
    height: 45vh;
}

/* section heights */

/* banner-text */



.subpage-banner-text {
    position: absolute;
    bottom: 65vh;
    left: 10vw;
    color: white;
}

/* banner-text end */
.homepic {
   margin:0;
   position:relative;
}

.homepic-text{
    position: absolute;
    bottom: 13vh;
    left: 10vw;
    color: white;
}
.col-md-4 {
    margin:0;
}
.homebook{
    background-color: rgba(229, 221, 205, 0.4)

}
.contact-section {
    background-color: rgba(229, 221, 205, 0.4);
}
.homebutton {
    text-align: center;
    color: white;
}
.hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid black;
}

.restaurant-section
{
    background-color: rgba(229, 221, 205, 0.4);
}
/* Slideshow */

.container-fluid {
    margin-bottom: 0;
    padding: 0;
}

.row {
    margin: 0;
}

.modal {
    z-index: 99999;
}

.modal-image {
    height: 80vh;
    object-fit: cover;
    object-position: center 70%;
}

.modal-thumb {
    height: 10vh;
    object-fit: cover;
    object-position: center 70%;
}

.motel-icons, .motel-text{
    display: inline-block;
    color: #b38b4c;
    filter:  #b38b4c;
}
.footer{
    padding: 5vh 5vw 5vh 5vw;
}

.copyright {
    padding: 2vh 5vw 2vh 5vw;
}


.footer-map {
    width: 70vw;
    height: 50vh;
}