.title-banner {
    background: url('../images/restauranthead.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 40vh;
}

.home-banner {
    background: url('../images/homehead.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 80vh;
}

.motel-banner {
    background: url('../images/motelhead.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 40vh;
}

.home-banner-text {
    color: white;
    font-size: 3vw;
    font-weight: 700;
    padding-top: 35vh;
}

.subtitle {
    color: white;
    font-size: 2vw;
    font-weight: 700;
}




@media only screen and (max-width: 576px) {
    .title-banner-text {
        color: white;
        font-size: 3vw;
        font-weight: 700;
        padding-top: 25vh;
    }
    .subtitle {
        color: white;
        font-size: 4vw;
        font-weight: 700;
    }

    .motel-banner-text {
        color: white;
        font-size: 5vw;
        font-weight: 700;
        padding-top: 23vh;
    }

    .home-banner-text {
        color: white;
        font-size: 5vw;
        font-weight: 700;
        padding-top: 35vh;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .title-banner-text {
        color: white;
        font-size: 3vw;
        font-weight: 700;
        padding-top: 25vh;
    }
    .subtitle {
        color: white;
        font-size: 2.5vw;
        font-weight: 700;
    }

    .motel-banner-text {
        color: white;
        font-size: 4vw;
        font-weight: 700;
        padding-top: 23vh;
    }

    .home-banner-text {
        color: white;
        font-size: 4vw;
        font-weight: 700;
        padding-top: 35vh;
    }

}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .title-banner-text {
        color: white;
        font-size: 3vw;
        font-weight: 700;
        padding-top: 25vh;
    }
    .subtitle {
        color: white;
        font-size: 2vw;
        font-weight: 700;
    }

    .motel-banner-text {
        color: white;
        font-size: 3vw;
        font-weight: 700;
        padding-top: 23vh;
    }

    .home-banner-text {
        color: white;
        font-size: 3vw;
        font-weight: 700;
        padding-top: 35vh;
    }

}

@media only screen and (min-width: 992px) {
    .title-banner-text {
        color: white;
        font-size: 3vw;
        font-weight: 700;
        padding-top: 25vh;
    }

    .subtitle {
        color: white;
        font-size: 2vw;
        font-weight: 700;
    }

    .motel-banner-text {
        color: white;
        font-size: 3vw;
        font-weight: 700;
        padding-top: 23vh;
    }

    .home-banner-text {
        color: white;
        font-size: 3vw;
        font-weight: 700;
        padding-top: 35vh;
    }
}
